doctype html
head
	link(rel='stylesheet', href='css/app.css')
body
	div#game(style='position:absolute;width:100%;height:100%')
		#blocker
			#instructions(style='font-size:40px;color: white;padding-top:25%;padding-left:40%') Click to Start
	script(src='js/vendor.js')
	script(src="js/app.js",defer,onload="require('scripts/game');")